name: Node.js Backend actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: MongoDBGraphQL/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: MongoDBGraphQL


      - name: Log into Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
           docker build -t backend-app .
           docker tag backend-app aeeshar01/backend-app:latest
           docker push aeeshar01/backend-app:latest
        working-directory: MongoDBGraphQL

      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_PRIVATE_KEY }}
          script: |
            sudo docker stop backend-container || true
            sudo docker rm backend-container || true
            sudo docker pull aeeshar01/backend-app:latest
            sudo docker run -d --name backend-container -p 4020:4020 aeeshar01/backend-app:latest
      