name: Node.js Backend actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: MongoDBGraphQL/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: MongoDBGraphQL

      - name: Start the backend
        run: npm run dev
        working-directory: MongoDBGraphQL
