name: Node.js Frontend actions


on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  build:
    runs-on: ubuntu-latest

   

    strategy:
      matrix:
        node-version: [18,20]
        include:
          - node-version: 18
            cache: 'npm'
          - node-version: 20
            cache: 'npm'

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2
  
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: front_end/package-lock.json

    - name: Install dependencies
      run: npm ci
      working-directory: front_end

    - name: Run tests
      run: npm run test
      working-directory: front_end

    - name: Build for production
      run: npm run build
      working-directory: front_end
      
    